<h1 class="c-heading">{{titleText}}</h1>
<div class="links">
  {{#each sortedLinks as |link|}}
    {{#unless link.isDeleted}}
      {{link-card model=link}}
    {{/unless}}
  {{/each}}
</div>
{{outlet}}
