<div class="u-center-block">
  <div class="u-center-block__content">
    <div class="c-card u-highest">
      <div class="c-card__item c-card__item--error">Oh noes&hellip;</div>
      <div class="c-card__item">
        <p class="c-paragraph">Something bad happened. Try again in a minute.</p>
      </div>
    </div>
  </div>
</div>
