<div class="u-center-block">
  <div class="u-center-block__content">
    <div class="c-card u-highest">
      <div class="c-card__item c-card__item--error">404 (Oops&hellip;)</div>
      <div class="c-card__item">
        <p class="c-paragraph">Can't find what you are looking for.</p>
      </div>
    </div>
  </div>
</div>
